:root {
    --main-green: #048c44; /* Main brand color */
    --accent-cyan: #6CE2F5; /* Cyan accent color */
    --accent-light-green: #6CF57D; /* Light green accent color */
    --text-black: #000000; /* Black text color */
    --bg-white: #FFFFFF; /* Background white */
}